﻿.advancedSearchLink
{
    font-size:12px; 
    float:right; 
    margin-top: 6px;
}

.basicSearchLink
{
    font-size:12px; 
    float:left; 
    margin-top: 6px;
}

#advancedSearch
{
    position:absolute; 
    right:0;
    width:35%; 
    display:none;
    background:#FFF;
    z-index:100;
    margin-right:0px;
}
.folder_list
{
    list-style: none;
    /* this has to be larger than the folder_tree width in order to hide */
    min-width: 732px;
    width: 732px;
}

#file_list
{
    margin-left: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}

#file_list li.folder_item
{
    margin-left: -60px;
    list-style: none;
}

.folder_item
{
    padding-left: 10px;
}

.file_item
{
    margin-left: -40px;
    list-style: none;
}

.folder_item a
{
    padding-left: 17px;
    text-decoration: none;
    background: url("/Images/folder.png") no-repeat scroll left center transparent;
}

#folder_tree
{
    width: 40%;
    float:left;
    border: 1px solid #686868;
    border-right: none;
    border-radius: 0 0 0 5px;
    overflow-x: hidden;
    overflow-y: auto;
    height: 353px;
}

#file_view
{
    width: 60%;
    float:left;
    border: 1px solid #686868;
    border-left: none;
    border-radius: 0 0 5px 0;
    height: 353px;
    overflow-x: hidden;
}

#resource_header
{
    height: 32px;
    float:left;
    background: #686868;
    color: #6495ED;
    width: 734px;
    border-radius: 5px 5px 0 0;
}

.open_folder
{
    background: url("/Images/folderOpen.png") no-repeat scroll left top transparent;    
    background-position: 0 5px;
}

.closed_folder
{
    background: url("/Images/folderClosed.png") no-repeat scroll left top transparent;
    background-position: 0 3px;
}

.open_folder:hover
{
    background: url("/Images/folderOpenHighlight.png") no-repeat scroll left top transparent;  
    background-position: 0 5px;
}

.closed_folder:hover
{
    background: url("/Images/folderClosedHighlight.png") no-repeat scroll left top transparent; 
    background-position: 0 3px;
}

ins
{
    padding-left: 10px;
}

.emptyMessage
{
    text-align: center;
}

.clickableRow 
{
    cursor:pointer;
}

.fullScreenInner {
    width: 33%;
    min-width: 300px;
    margin: auto;
}

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:1;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
    display: none;
}

#placeOrderMessage {
    z-index: 100000;
}

#winterSaleHeader 
{
    width: 100%;
    height: 100px;
    background-color: Black;
}

.discount 
{
    color:Red; 
    text-decoration:line-through;
    font-size:9pt
}

.uom 
{
    font-size:7pt;
    overflow:visible;
}

.bold-column
{
    font-weight: bold;
}

.NotificationShow{
    display:none;
}