﻿/* tables */
table.tablesorter {
	font-family:arial;
	margin:10px 0pt 15px;
	font-size: 11pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	border-bottom: 1px solid #000;
	font-size: 10pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	vertical-align: middle;
	height: 60px;
}
table.tablesorter tbody td.right-column{
	color: #3D3D3D;
	padding: 4px;
	vertical-align: middle;
	float: right;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}

table.tablesorter tr
{
	border-bottom: 1px solid #88b9e3;
    transition:background 2s ease-out;
}

table.tablesorter tr.yellow:hover
{
    background-color: #E6CD1A;
}

table.tablesorter tr.light-blue:hover
{
    background-color: #1AB7F1;
}

table.tablesorter tr.green:hover
{
    background-color: #70B22E;
}

table.tablesorter tr.red:hover
{
    background-color: #D34941;
}

table.tablesorter thead tr .header {
    background-position: left center;
    padding-left: 20px;
}​

table.tablesorter thead tr .sorter-false {
    background-image: none;
}

table.tile-table tbody td 
{
    height: 55px;
}

