﻿@model IEnumerable<SAPModels.Invoice>
@using MvcContrib.UI.Grid
@{
    var colors = new List<string>() { "yellow", "light-blue", "red", "green" };
    
    if (Model != null && Model.Count() > 0)
    {
        Html.Grid(Model)
            .Attributes(@id => "invoiceList", @class => "tablesorter", style => "width:100%")
            .RowAttributes(row => new MvcContrib.Hash(data => @Html.Raw(Json.Encode(row.Item)), @class => "clickableRow " + colors[Model.ToList().IndexOf(row.Item) % 4]))
            .Columns(
                col =>
                {
                    col.For(x => Html.ActionLink(x.InvoiceNumber.ToString(), "PrintInvoice", new { invoiceNumber = x.InvoiceNumber }, new { target = "_blank" })).Named("Invoice Number");
                    col.For(x => x.PONumber);
                    col.For(x => x.Status);
                    col.For(x => x.InvoiceDate.ToShortDateString()).Named("Invoice Date");
                    col.For(x => x.InvoiceAmount).Format("{0:c}").Attributes(@class => "right-column");
                }).Render();
    }
    else
    {
        <br class="clear" />
        <h4 class="emptyMessage">Sorry! No results match your search terms.
            <br />
            Please try again.
            <br class="clear"/>
            <br class="clear"/>
            If you are still having trouble, try the <a href="#" onclick="toggleAdvancedSearch()">Advanced Search</a> option to refine your search.
        </h4>
    }
    if (Model != null && Model.Count() > 10)
    {
        Html.RenderPartial("PagerControl");
    }
}

<script type="text/javascript">
    $(function () {
        $(".clickableRow").click(function () {
            var data = JSON.parse($(this).attr("data"));
            window.location.href = '/Invoice/PrintInvoice?invoiceNumber=' + data.InvoiceNumber;
        });
    });
</script>