﻿@model CustomerPortal.Models.LocalPasswordModel
@using (Html.BeginForm("Manage", "Account"))
{
    @Html.AntiForgeryToken()
    <h3 class="page-title text-light">
        Change Password</h3>
    <hr class="thin" />
    <br />
    if (ViewData.ModelState.Any())
    {
    @Html.ValidationSummary(true)
    <br />
    }
    <div class="input-control text" data-role="input">
        @Html.LabelFor(m => m.OldPassword)
        @Html.PasswordFor(m => m.OldPassword)
    </div>
    <br />
    <br />
    <div class="input-control text" data-role="input">
        @Html.LabelFor(m => m.NewPassword)
        @Html.PasswordFor(m => m.NewPassword)
    </div>
    <br />
    <br />
    <div class="input-control text" data-role="input">
        @Html.LabelFor(m => m.ConfirmPassword)
        @Html.PasswordFor(m => m.ConfirmPassword)
    </div>
    <br />
    <br />
    <input type="submit" value="Change password" />
}
