﻿@model CustomerPortal.Models.ResetPasswordModel

@section Scripts {

}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
            <h1 class="page-title text-light">Activate Your Account</h1>
            <hr class="thin"/>
            <br />
    if (ViewData.ModelState.Any())
    {
                  @Html.ValidationSummary(true)
            <br />
    }
    @Html.HiddenFor(m => m.UserName)
    @Html.HiddenFor(m => m.Key)
            <div class="input-control password full-size" data-role="input">
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </div>
            <br />
            <br />
            <div class="input-control password full-size" data-role="input">
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </div>
            <br />
            <br />
            <div class="form-actions">
                <button type="submit" class="button primary">Login</button>
            </div>
}
