﻿@model CustomerPortal.Models.EditRepGroupModel
@using (Html.BeginForm("EditRepGroup", "Account", new { ReturnUrl = ViewBag.ReturnUrl }))
{
    @Html.AntiForgeryToken()
    <h1 class="page-title text-light">
        Edit Rep Group</h1>
    <hr class="thin" />
    if (ViewData.ModelState.Any())
    {
    @Html.ValidationSummary(true)
    <br />
    }
    
    <div class="grid">
        <div class="row cells2">
            <div class="cell">
                <div data-role="hint"
                    data-hint-background="bg-violet"
                    data-hint-color="fg-white"
                    data-hint-mode="2"
                    data-hint="This field cannot be modified.|">
                    <div class="input-control text full-size">
                        @Html.LabelFor(m => m.UserName)
                        @Html.HiddenFor(m => m.UserName)
                        @Html.TextBoxFor(m => m.UserName, new { disabled = "disabled" })
                    </div>
                </div>
                <br />
                <div class="input-control text full-size" data-role="input">
                    @Html.LabelFor(m => m.DisplayName)
                    @Html.TextBoxFor(m => m.DisplayName)
                </div>
                <br />
                <br />
                <div class="input-control text full-size" data-role="input">
                    @Html.LabelFor(m => m.RepGroupNumber)
                    @Html.TextBoxFor(m => m.RepGroupNumber)
                </div>
                <br />
                <br />
                <div class="input-control text full-size" data-role="input">
                    @Html.LabelFor(m => m.AccountManager)
                    @Html.TextBoxFor(m => m.AccountManager)
                </div>
                <br />
                <br />
                <div class="input-control text full-size" data-role="input">
                    @Html.LabelFor(m => m.SalesRep)
                    @Html.TextBoxFor(m => m.SalesRep)
                </div>
                <br />
                <br />
                <div class="input-control text full-size" data-role="input">
                    @Html.LabelFor(m => m.DefaultShipTo)
                    @Html.TextBoxFor(m => m.DefaultShipTo)
                </div>
                <br />
                <br />
            </div>
            <div class="cell">
                <fieldset title="Attributes">
                    <legend>Attributes</legend>
                    <div data-role="input">
                        @Html.CheckBoxFor(m => m.SeeShipTos)
                        @Html.LabelFor(m => m.SeeShipTos, new { @class = "checkbox" })
                    </div>
                    <br />
                    <div data-role="input">
                        @Html.CheckBoxFor(m => m.RequestSamples)
                        @Html.LabelFor(m => m.RequestSamples, new { @class = "checkbox" })
                    </div>
                    <br />
                    <div data-role="input">
                        @Html.CheckBoxFor(m => m.PlaceOrders)
                        @Html.LabelFor(m => m.PlaceOrders, new { @class = "checkbox" })
                    </div>
                    <br />
                    <div data-role="input">
                        @Html.CheckBoxFor(m => m.PayInvoices)
                        @Html.LabelFor(m => m.PayInvoices, new { @class = "checkbox" })
                    </div>
                    <br />
                    <div data-role="input">
                        @Html.CheckBoxFor(m => m.SeePricing)
                        @Html.LabelFor(m => m.SeePricing, new { @class = "checkbox" })
                    </div>
                    <br />
                    <div data-role="input">
                        @Html.CheckBoxFor(m => m.ViewOrders)
                        @Html.LabelFor(m => m.ViewOrders, new { @class = "checkbox" })
                    </div>
                    <br />
                    <div data-role="input">
                        @Html.CheckBoxFor(m => m.TelesalesAccount)
                        @Html.LabelFor(m => m.TelesalesAccount, new { @class = "checkbox" })
                    </div>
                    <br />
                    <div data-role="input">
                        @Html.CheckBoxFor(m => m.UseTools)
                        @Html.LabelFor(m => m.UseTools, new { @class = "checkbox" })
                    </div>
                    <br />
                    <div data-role="input">
                        @Html.CheckBoxFor(m => m.Active)
                        @Html.LabelFor(m => m.Active, new { @class = "checkbox" })
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="button primary">
                Save</button>
            <button type="button" class="button primary bg-red" onclick="location.href='@Url.Action("DeleteAccount", new { userName = Model.UserName })'">
                Delete</button>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
