﻿
<link href="../../Content/NoAuth.css" rel="stylesheet">
<script src='https://www.google.com/recaptcha/api.js'></script>
<script type="text/javascript">
    function captchaSub() {
        $('#submitButton').show();
    }
    function captchaExp() {
        $('#submitButton').hide();
    }

    $(function () {
        $('#submitButton').hide();
    });
</script>
<section id="loginForm">
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
{
    @Html.AntiForgeryToken()
            <h1 class="page-title text-light">Request Password Reset</h1>
            <hr class="thin"/>
    <h4>Please use this form to submit the email address associated with your account. We'll send you a link to a page where you can create a new password.</h4>
            <br />
    
    if (ViewData.ModelState.Any())
    {
                  @Html.ValidationSummary(true)
            <br />
    }
            <div class="input-control text full-size" data-role="input">
                @Html.Label("User Name")
                @Html.TextBox("UserName")
            </div>
            <div class="g-recaptcha" data-sitekey="6LdQWQsTAAAAAA69nfAEoToF8m9uHXlWJIFf_Lqz" data-callback="captchaSub" data-expired-callback="captchaExp"></div>
            <div class="form-actions">
                <button id="submitButton" type="submit" class="button primary">Submit</button>
            </div>
    <p>
        @Html.ActionLink("Back To Login", "Login")
    </p>
}
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
