﻿@model CustomerPortal.Models.RegisterUserModel

@{
    ViewBag.Title = "Create Administrator";
}

@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
{
    @Html.AntiForgeryToken()
            <h1 class="page-title text-light">Create Administrator</h1>
            <hr class="thin"/>
            <br />
    if (ViewData.ModelState.Any())
              {
                  @Html.ValidationSummary(true)
            <br />
              }
            <div class="input-control text" data-role="input">
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
            </div>
            <br />
            <br />
            <div class="input-control text" data-role="input">
                @Html.LabelFor(m => m.DisplayName)
                @Html.TextBoxFor(m => m.DisplayName)
            </div>
            <br />
            <br />
            <div class="input-control password" data-role="input">
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
            </div>
            <br />
            <br />
            <div class="input-control password" data-role="input">
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </div>
            <br />
            <br />
            <div class="form-actions">
                <button type="submit" class="button primary">Create</button>
            </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
