﻿@model CustomerPortal.Models.RequestAccountModel

@{
    ViewBag.Title = "RequestAccount";
}

<link href="../../Content/NoAuth.css" rel="stylesheet">
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
{
    @Html.AntiForgeryToken()

            <h1 class="page-title text-light">Request a Portal Account</h1>
            <hr class="thin"/>
            <br />
            if (ViewData.ModelState.Any())
              {
                  @Html.Partial("_ValidationSummary", ViewData.ModelState)
            <br />
              }
            <div class="input-control text full-size" data-role="input">
                @Html.LabelFor(m => m.CompanyName)
                @Html.TextBoxFor(m => m.CompanyName)
            </div>
            <br />
            <br />
            <div class="input-control text full-size" data-role="input">
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name)
            </div>
            <br />
            <br />
            <div class="input-control text full-size" data-role="input">
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email)
            </div>
            <br />
            <br />
            <div class="input-control text full-size" data-role="input">
                @Html.LabelFor(m => m.TelephoneNumber)
                @Html.TextBoxFor(m => m.TelephoneNumber)
            </div>
            <br />
            <br />
            <div class="input-control text full-size" data-role="input">
                @Html.LabelFor(m => m.Street)
                @Html.TextBoxFor(m => m.Street)
            </div>
            <br />
            <br />
            <div class="input-control text full-size" data-role="input">
                @Html.LabelFor(m => m.City)
                @Html.TextBoxFor(m => m.City)
            </div>
            <br />
            <br />
            <div class="input-control text full-size" data-role="input">
                @Html.LabelFor(m => m.State)
                @Html.TextBoxFor(m => m.State)
            </div>
            <br />
            <br />
            <div class="input-control text full-size" data-role="input">
                @Html.LabelFor(m => m.Zip)
                @Html.TextBoxFor(m => m.Zip)
            </div>
            <br />
            <br />
            <div class="form-actions">
            <div style="float:right" data-role="input">
                @Html.CheckBoxFor(m => m.ReceiveMarketingEmails)
                @Html.LabelFor(m => m.ReceiveMarketingEmails, new { @class = "checkbox" })
            </div>
                <button type="submit" class="button primary">Submit</button>
            </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

