﻿<div class="bottom-menu-wrapper">
    <ul class="horizontal-menu compact">
        <li><a>&copy; @DateTime.Now.Year West Chester Protective Gear</a></li>
        <li class="place-right">
            <div class="main-content clear-float">
                <div class="tile-area no-padding">
                    <div class="tile-group no-margin no-padding">
@*                        <a href="/Help/" class="fg-white">
                            <div class="tile-small bg-orange fg-white" data-role="tile">
                                <div class="tile-content iconic">
                                    <span class="icon fa fa-question"></span>
                                </div>
                            </div>
                        </a>  *@
                        <a href="/Bug/" class="fg-white">
                            <div class="tile-small bg-yellow fg-white" data-role="tile">
                                <div class="tile-content iconic">
                                    <span class="icon fa fa-bug"></span>
                                </div>
                            </div>
                        </a>  
                        <a href="https://www.facebook.com/pages/West-Chester-Protective-Gear/235840629898043?fref=ts" class="fg-white">
                            <div class="tile-small bg-blue fg-white" data-role="tile">
                                <div class="tile-content iconic">
                                        <span class="icon fa fa-facebook"></span>
                                </div>
                            </div>
                        </a>  
                        <a href="https://twitter.com/WestChesterGear" class="fg-white">
                            <div class="tile-small bg-green fg-white" data-role="tile">
                                <div class="tile-content iconic">
                                        <span class="icon fa fa-twitter"></span>
                                </div>
                            </div>
                        </a>  
                        <a href="https://www.linkedin.com/company/630513?trk=tyah&trkInfo=clickedVertical%3Acompany%2Cidx%3A1-1-1%2CtarId%3A1434313818926%2Ctas%3Awest%20chester%20pro" class="fg-white">
                            <div class="tile-small bg-lightBlue fg-white" data-role="tile">
                                <div class="tile-content iconic"><span class="icon fa fa-linkedin"></span>
                                </div>
                            </div>
                        </a>  
                        <a href="https://www.youtube.com/user/WCProtectiveGear" class="fg-white">
                            <div class="tile-small bg-red fg-white" data-role="tile">
                                <div class="tile-content iconic">
                                        <span class="icon fa fa-youtube"></span>
                                </div>
                            </div>
                        </a>  
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>