﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <link href="~/siteicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE10" />
    <link href="../../Content/metro.css" rel="stylesheet">
    <link href="../../Content/site.css" rel="stylesheet">
    <link href="../../Content/metro-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="../../Scripts/metro.js"></script>

    <!-- Google Analytics Start -->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-4123848-3', 'auto');
        ga('send', 'pageview');

        navigator.sayswho = (function () {
            var ua = navigator.userAgent, tem,
                M = ua.match(/(opera|chrome|safari|firefox|msie|trident(?=\/))\/?\s*(\d+)/i) || [];
            if (/trident/i.test(M[1])) {
                tem = /\brv[ :]+(\d+)/g.exec(ua) || [];
                return 'IE ' + (tem[1] || '');
            }
            if (M[1] === 'Chrome') {
                tem = ua.match(/\b(OPR|Edge)\/(\d+)/);
                if (tem != null) return tem.slice(1).join(' ').replace('OPR', 'Opera');
            }
            M = M[2] ? [M[1], M[2]] : [navigator.appName, navigator.appVersion, '-?'];
            if ((tem = ua.match(/version\/(\d+)/i)) != null) M.splice(1, 1, tem[1]);
            return M.join(' ');
        })();

        $(function () {
            $(".addToCart").ajaxForm({
                target: '#shopTop',
                beforeSubmit: function () { },
                success: function (result) {
                    $("#shopTop").html(result.view).show();

                    if (result.message.Type == 'Success') {
                        $.Notify({
                            icon: '<span class="fa fa-cart-plus"></span>',
                            caption: result.message.Title,
                            content: result.message.Content,
                            type: result.message.Type.toLowerCase()
                        });
                    }
                    else {
                        $.Notify({
                            icon: '<span class="fa fa-exclamation-triangle fg-crimson"></span>',
                            caption: result.message.Title,
                            content: result.message.Content,
                            style: { background: '#FFF', color: '#000' }
                        });
                    }
                }
            });
        });
    </script>
    <!-- Google Analytics End -->
</head>
<body>

    @*    <div style="width: 100%; height: 100px; color: White; font-size: 40px; margin-top: 10px" class="bg-violet">
        <div style="width: 70%; margin: auto;">
        </div>
    </div>*@
    <div class="container">
        @{ if (User.Identity.IsAuthenticated)
           {
            <header class="margin20 no-margin-left no-margin-right">
            <div class="clear-float">
                <div class="place-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                        <br />
                    </section>
                    
                    @if (Roles.IsUserInRole("PlaceOrders"))
                    {
                        Html.RenderAction("ShoppingCartIcon", "ShoppingCart");
                    }
                </div>
                <a class="place-left" href="/Home" title="">
                    <img alt="logo" src="../../Images/logo.jpg" width="200" />
                </a>
            </div>

            <div class="main-menu-wrapper">
                @if (!string.IsNullOrEmpty(((CustomerPortalModels.User)Session["user"]).CustomerNumber))
                {
                    <ul class="horizontal-menu" style="margin-left: -20px">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        @if (Roles.IsUserInRole("ViewOrders"))
                        {
                            if (Roles.IsUserInRole("Administrator"))
                            {
                                <li>
                                    <a href="#" class="dropdown-toggle">Orders</a>
                                    <ul class="d-menu" data-role="dropdown">
                                        <li>@Html.ActionLink("Orders", "Index", "Order")</li>
                                        <li>@Html.ActionLink("Test", "ProcessCheckout", "ShoppingCart")</li>
                                    </ul>
                                </li>
                            }
                            else
                            {
                                <li>@Html.ActionLink("Orders", "Index", "Order")</li>
                            }
                        }
                        @if (Roles.IsUserInRole("PayInvoices"))
                        {
                            <li>@Html.ActionLink("Invoices", "Index", "Invoice")</li>
                        }
                        <li>
                            <a href="#" class="dropdown-toggle">Products</a>
                            <ul class="d-menu" data-role="dropdown">
                                <li>@Html.ActionLink("All Products", "Index", "Product")</li>
                                <li>@Html.ActionLink("Favorites", "FavoriteList", "Product")</li>
                                @if (Roles.IsUserInRole("PlaceOrders"))
                                {
                                    <li>@Html.ActionLink("Import Shopping List", "ImportShoppingList", "ShoppingCart")</li>
                                }
                            </ul>
                        </li>
                        @if (Roles.IsUserInRole("UseTools"))
                        {
                            <li>
                                <a href="#" class="dropdown-toggle">Resources</a>
                                <ul class="d-menu" data-role="dropdown">
                                    <li>@Html.ActionLink("Downloads", "Downloads", "Resource")</li>
                                    <li>@Html.ActionLink("Cross Reference", "CrossReferenceTool", "Resource")</li>
                                </ul>
                            </li>
                        }
                        @if (Roles.IsUserInRole("CreateUsers"))
                        {
                            <li>
                                <a href="#" class="dropdown-toggle">Users</a>
                                <ul class="d-menu" data-role="dropdown" data-no-close="true">
                                    <li>@Html.ActionLink("Search Users", "Index", "User")</li>
                                    <li>@Html.ActionLink("Account Requests", "AccountRequests", "Account")</li>
                                    <li><a href="#" class="dropdown-toggle">Create User</a>
                                        <ul class="d-menu" data-role="dropdown" data-no-close="true">
                                            @if (Roles.IsUserInRole("Administrator"))
                                            {
                                                <li>@Html.ActionLink("Administrator", "RegisterAdministrator", "Account")</li>
                                                <li>@Html.ActionLink("Power User", "RegisterPowerUser", "Account")</li>
                                            }
                                            @if (Roles.IsUserInRole("PowerUser"))
                                            {
                                                <li>@Html.ActionLink("Internal", "RegisterInternalUser", "Account")</li>
                                            }
                                            <li>@Html.ActionLink("Customer", "RegisterCustomer", "Account")</li>
                                            <li>@Html.ActionLink("Rep Group", "RegisterRepGroup", "Account")</li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        }
                    </ul>
                }
                else
                {
                    <ul class="horizontal-menu" style="margin-left: -20px">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>
                            <a href="#" class="dropdown-toggle">Resources</a>
                            <ul class="d-menu" data-role="dropdown">
                                <li>@Html.ActionLink("Downloads", "Downloads", "Resource")</li>
                            </ul>
                        </li>
                        @if (Roles.IsUserInRole("CreateUsers"))
                        {
                            <li>
                                <a href="#" class="dropdown-toggle">Users</a>
                                <ul class="d-menu" data-role="dropdown" data-no-close="true">
                                    <li>@Html.ActionLink("Search Users", "Index", "User")</li>
                                    <li>@Html.ActionLink("Account Requests", "AccountRequests", "Account")</li>
                                    <li><a href="#" class="dropdown-toggle">Create User</a>
                                        <ul class="d-menu" data-role="dropdown" data-no-close="true">
                                            @if (Roles.IsUserInRole("Administrator"))
                                            {
                                                <li>@Html.ActionLink("Administrator", "RegisterAdministrator", "Account")</li>
                                                <li>@Html.ActionLink("Power User", "RegisterPowerUser", "Account")</li>
                                            }
                                            @if (Roles.IsUserInRole("PowerUser"))
                                            {
                                                <li>@Html.ActionLink("Internal", "RegisterInternalUser", "Account")</li>
                                            }
                                            <li>@Html.ActionLink("Customer", "RegisterCustomer", "Account")</li>
                                            <li>@Html.ActionLink("Rep Group", "RegisterRepGroup", "Account")</li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        }
                    </ul>
                }
            </div>
            <a href="https://us.pipglobal.com/email/pip/2019/190501-West-Chester-Customer-Portal.html"><img alt="WC Portal Shutdown Alert" src="../../Images/WC-Portal-Alert.png" style="width:1110px; height:150px;" /></a>
        </header>
            @RenderBody()
            <br class="clear" />
            <footer>
                @Html.Partial("_FooterPartial")
            </footer>
           }
           else
           {
            <link href="../../Content/NoAuth.css" rel="stylesheet">
            <div class="content">
                <div class="login-logo">
                    <a style="margin: auto" href="#" title=""></a>
                </div>
                @RenderBody()
            </div>
           }
        }
    </div>
</body>
@RenderSection("Scripts", required: false)
