﻿@if (Request.IsAuthenticated) {
    var user = (CustomerPortalModels.User)Session["user"];

    bool impersonating = (user.CustomerNumber != null && (User.IsInRole("Administrator") || User.IsInRole("PowerUser") || User.IsInRole("Internal") || User.IsInRole("RepGroup")));
        
    <text>
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            @Html.ActionLink(user.DisplayName + (impersonating ? " (" + user.CustomerNumber + ")" : ""), "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        }
    </text>
}
else
{
    <ul>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
