﻿@model CustomerPortalModels.Product

@if (Model.Discount != null && Model.Discount > 0)
{
    <span class="discount">@String.Format("{0:c}", Model.Price)</span><br /><b>@String.Format("{0:c}", Model.DiscountedPrice)</b><span class="uom"> / @Model.UnitOfMeasure</span>
}
else
{
    <div style="min-width: 75px">
    <b>@String.Format("{0:c}", Model.Price)</b><span class="uom"> / @Model.UnitOfMeasure</span>
    </div>
}