﻿@model SAPModels.Order
@using MvcContrib.UI.Grid
@{
    ViewBag.Title = "Index";
}
@section Scripts
{
    <link href="@Url.Content("~/Scripts/__jquery.tablesorter/themes/custom/style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Scripts/__jquery.tablesorter/addons/pager/jquery.tablesorter.pager.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../../Scripts/__jquery.tablesorter/jquery.tablesorter.js?1"></script>
    <script type="text/javascript" src="../../Scripts/__jquery.tablesorter/addons/pager/jquery.tablesorter.pager.js?1"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#orderLineList")
                .tablesorter({ widthFixed: true })
                .tablesorterPager({ container: $("#pager") });
            $("#packingSlipList")
                .tablesorter({ widthFixed: true })
                .tablesorterPager({ container: $("#pager") });
        });
    </script>
}
<h2>
    Order Details</h2>
@{var first = Model.LineItems[0];}
Order #@Model.SalesOrder
<br />
<br />
<div class="grid">
    <div class="row cells1">
        <div class="cell">
            <fieldset title="Order Information">
                <legend>Order Information</legend>
                
                <div class="grid">
                    <div class="row cells2">
                        <div class="cell">
                            Document Number: @Model.SalesOrder.Trim('0')
                            <br />
                            PO Number: @Model.PurchaseOrder
                            <br />
                            Incoterms: @first.FreightTerms
                            <br />
                            Payment Terms: @first.PaymentTerms
                            <br />
                            Total Weight: @Model.TotalWeight lb
                        </div>
                        <div class="cell">
                            Document Date: @Model.OrderDate.ToShortDateString()
                            <br />
                            PO Date: @Model.OrderDate.ToShortDateString()
                            <br />
                            Delivery Date: @Model.OrderDate.ToShortDateString()
                            <br />
                            Currency: USD
                            <br />
                            Total Volume: @Model.TotalVolume ft<sup>3</sup>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="row cells2">
        <div class="cell">
            <fieldset title="Ship To">
                <legend>Ship To</legend>
                @Model.ShipName
                <br />
                @Model.ShipStreet
                <br />
                @Model.ShipCity, @Model.ShipState @Model.ShipZip
            </fieldset>
        </div>
        <div class="cell">
            <fieldset title="Sold To">
                <legend>Sold To</legend>
                @first.SoldName
                <br />
                @first.SoldStreet
                <br />
                @first.SoldCity, @first.SoldState @first.SoldZip
            </fieldset>
        </div>
    </div>
</div>

<div class="tabcontrol2" data-role="tabControl">
    <ul class="tabs">
        <li><a href="#1">Order Details</a></li>
        <li><a href="#2">Shipment Details</a></li>
    </ul>
    <div class="frames">
        <div class="frame" id="1">
            @{
                if (Model != null && Model.LineItems.Count() > 0)
                {
                    Html.Grid(Model.LineItems)
                        .Attributes(@id => "orderLineList", @class => "tablesorter", style => "width:100%")
                        .Columns(
                            col =>
                            {
                                col.For(x =>
                                    "WC PN: " + x.SKU.TrimStart('0') + "<br />" +
                                    "CUST PN: " + x.CustomerSKU + "<br />" +
                                    x.Description).Encode(false).Attributes(row => new MvcContrib.Hash(@class => row.Item.OrderQuantity > row.Item.Confirmed ? "fg-red" : ""));
                                col.For(x => x.UnitOfMeasure).Attributes(row => new MvcContrib.Hash(@class => row.Item.OrderQuantity > row.Item.Confirmed ? "fg-red" : ""));
                                col.For(x => x.OrderQuantity).Attributes(row => new MvcContrib.Hash(@class => row.Item.OrderQuantity > row.Item.Confirmed ? "fg-red" : ""));
                                col.For(x => x.Confirmed).Named("Quantity Shipped").Attributes(row => new MvcContrib.Hash(@class => row.Item.OrderQuantity > row.Item.Confirmed ? "fg-red" : ""));
                            }).Render();
                }
                <br />
                if (Model != null && Model.LineItems.Count() > 10)
                {
                    Html.RenderPartial("PagerControl");
                }
            }
        </div>
        <div class="frame" id="2">
            @{
                if (Model != null && Model.PackingSlips.Count() > 0)
                {
                    Html.Grid(Model.PackingSlips)
                        .Attributes(@id => "packingSlipList", @class => "tablesorter", style => "width:100%")
                        .Columns(
                            col =>
                            {
                                col.For(x => Html.ActionLink(x.DeliveryNumber, "PrintPackingSlip", new { dlvNumber = x.DeliveryNumber }, new { target = "_blank" })).Named("Delivery Number");
                                col.For(x => Html.Partial("TrackingLink", new CustomerPortal.Models.TrackingLinkModel()
                                {
                                    Link = x.TrackingLink,
                                    TrackingNumber = x.TrackingNumber
                                })).Named("Tracking Number");
                                col.For(x => x.DeliveryDateFormatted).Named("Delivery Date");
                                col.For(x => x.Carrier);
                            }).Render();
                }
                //if (Model != null && Model.LineItems.Count() > 10)
                //{
                //    Html.RenderPartial("PagerControl");
                //}
            }
        </div>
    </div>
</div>