﻿@{
    ViewBag.Title = "Customer Number Required";
}

<h1>Customer Number Required!</h1>
<h4>The page you have requested requires a customer number to view.</h4>
<h4>Please go to the @Html.ActionLink("Home Page", "Index") and impersonate a customer to access this page.
</h4>

<h4>Thanks!</h4>

@section Scripts
{
}