﻿@{
    ViewBag.Title = "Home Page";
}
@section Scripts
{
    <link href="@Url.Content("~/Scripts/__jquery.tablesorter/themes/custom/style.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../../Scripts/__jquery.tablesorter/jquery.tablesorter.js?1"></script>
    <script type="text/javascript" src="../../Scripts/__jquery.tablesorter/addons/pager/jquery.tablesorter.pager.js?1"></script>
    
    <script type="text/javascript" src="../../Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript" src="../../Scripts/jquery.form.js"></script>
    
    <script type="text/javascript">
    @{
        if (TempData["resetPasswordMessage"] != null)
        {
            var message = (CustomerPortal.Models.Message)TempData["resetPasswordMessage"];
            <text>
                $(document).ready(function() {
                    $.Notify({
                        icon: '<span class="fa fa-user"></span>',
                        caption: '@message.Title',
                        content: '@message.Content',
                        style: {background: '#569BE2', color: '#FFF'}
                    });
                });
            </text>
        }
        if (TempData["registerAccountMessage"] != null)
        {
            var message = (CustomerPortal.Models.Message)TempData["registerAccountMessage"];
            <text>
                $(document).ready(function() {
                    $.Notify({
                        icon: '<span class="fa fa-user"></span>',
                        caption: '@message.Title',
                        content: '@message.Content',
                        style: {background: '#569BE2', color: '#FFF'}
                    });
                });
            </text>
        }
        if (TempData["impersonateMessage"] != null)
        {
            var message = (CustomerPortal.Models.Message)TempData["impersonateMessage"];

            if (@message.Type == "success")
            {
                <text>
                    $(document).ready(function() {
                        $.Notify({
                            icon: '<span class="fa fa-user-secret"></span>',
                            caption: '@message.Title',
                            content: '@message.Content',
                            style: {background: '#B21AFF', color: '#FFF'}
                        });
                    });
                </text>
            }
            else
            {
                <text>
                    $(document).ready(function() {
                            $.Notify({
                                icon: '<span class="fa fa-exclamation-triangle fg-crimson"></span>',
                                caption: '@message.Title',
                                content: '@message.Content',
                                style: {background: '#FFF', color: '#000'}
                            });
                    });
                </text>
            }
        }
    }
        $(function () {
            $("#orderList").tablesorter({ widthFixed: true });
            $("#productList").tablesorter({ widthFixed: true });
            $("#invoiceList").tablesorter({ widthFixed: true });

            // hacky way to make the tiles remain "in focus"
            $(".slide-up-2").each(function (index, item) {
                $(item).click(function () {
                    $(item).removeClass("slide-up-2");
                    $(item).children(".slide").hide();
                });
            });
        });
    </script>
}
<div class="main-content clear-float">
    <div class="tile-area no-padding">
    @if (!string.IsNullOrEmpty(((CustomerPortalModels.User)Session["user"]).CustomerNumber))
    {
        <div class="tile-group no-margin no-padding" style="width: 100%">
            @if (Roles.IsUserInRole("ViewOrders"))
            {
                <a href="~/Order" class="fg-white">
                    <div class="tile-large tile-big-x bg-emerald fg-white">
                        <div class="tile-content iconic">
                            <span class="icon-large fa fa-truck"></span>
                            <span class="tile-label">Orders</span>
                        </div>
                    </div>
                </a> 
            }
            else
            {
                <div class="tile-large tile-big-x bg-emerald fg-white" 
                    data-role="hint"
                    data-hint-background="bg-orange"
                    data-hint-color="fg-white"
                    data-hint-mode="2"
                    data-hint-position="top"
                    data-hint="You don't have access to this feature|Please contact your salesperson">
                    <div class="tile-content iconic">
                        <span class="icon-large fa fa-truck"></span>
                        <span class="tile-label">Orders</span>
                    </div>
                </div>
            }
            @if (Roles.IsUserInRole("PlaceOrders"))
            {
                <div class="tile-wide bg-cobalt fg-white">
                    <div class="tile-content iconic slide-up-2">
                        <div class="slide">
                        <span class="icon fa fa-cart-plus"></span>
                        </div>
                        <div class="slide-over text-small padding10"> 
                            @{Html.RenderPartial("_QuickAddTilePartial");}
                        </div>
                        <span class="tile-label">Quick Add</span>
                    </div>
                </div>
            }
            else
            {
                <div class="tile-wide bg-cobalt fg-white" 
                    data-role="hint"
                    data-hint-background="bg-orange"
                    data-hint-color="fg-white"
                    data-hint-mode="2"
                    data-hint-position="top"
                    data-hint="You don't have access to this feature|Please contact your salesperson">
                    <div class="tile-content iconic">
                        <span class="icon fa fa-cart-plus"></span>
                        <span class="tile-label">Quick Add</span>
                    </div>
                </div>
            }
            <a href="~/Account/History" class="fg-white">
                <div class="tile bg-magenta fg-white">
                    <div class="tile-content iconic">
                            <span class="icon fa fa-history"></span>
                            <span class="tile-label">History</span>
                    </div>
                </div>
            </a>  
            <a href="~/Account/Manage" class="fg-white">
                <div class="tile bg-lightBlue fg-white">
                    <div class="tile-content iconic">
                            <span class="icon fa fa-user"></span>
                            <span class="tile-label">Profile</span>
                    </div>
                </div>
            </a>  
            <a href="/Product/" class="fg-white">
                <div class="tile bg-violet fg-white">
                    <div class="tile-content iconic">
                            <span class="icon fa fa-cubes"></span>
                            <span class="tile-label">Products</span>
                    </div>
                </div>
            </a>
            <a href="/Resource/Downloads/" class="fg-white">
                <div class="tile bg-emerald fg-white">
                    <div class="tile-content iconic">
                            <span class="icon fa fa-download"></span>
                            <span class="tile-label">Downloads</span>
                    </div>
                </div>
            </a>
            @if (Roles.IsUserInRole("UseTools"))
            {
                <div class="tile-wide bg-cyan fg-white">
                    <div class="tile-content iconic slide-up-2">
                        <div class="slide">
                        <span class="icon fa fa-exchange"></span>
                        </div>
                        <div class="slide-over text-small padding10"> 
                            @{Html.RenderAction("_CrossReferenceTilePartial", "Resource");}
                        </div>
                        <span class="tile-label">Cross Reference</span>
                    </div>
                </div>
            }
            else
            {
                <div class="tile-wide bg-cyan fg-white" 
                    data-role="hint"
                    data-hint-background="bg-orange"
                    data-hint-color="fg-white"
                    data-hint-mode="2"
                    data-hint-position="top"
                    data-hint="You don't have access to this feature|Please contact your salesperson">
                    <div class="tile-content iconic">
                        <span class="icon fa fa-exchange"></span>
                        <span class="tile-label">Cross Reference</span>
                    </div>
                </div>
            }
            @if (Roles.IsUserInRole("PayInvoices"))
            {
                <a href="~/Invoice" class="fg-white">
                    <div class="tile-large tile-big-x bg-cyan fg-white">
                        <div class="tile-content iconic">
                            <span class="icon-large fa fa-dollar"></span>
                            <span class="tile-label">Invoices</span>
                        </div>
                    </div>
                </a> 
            }
            else
            {
                <div class="tile-large tile-big-x bg-cyan fg-white" 
                    data-role="hint"
                    data-hint-background="bg-orange"
                    data-hint-color="fg-white"
                    data-hint-mode="2"
                    data-hint-position="top"
                    data-hint="You don't have access to this feature|Please contact your salesperson">
                    <div class="tile-content iconic">
                        <span class="icon-large fa fa-dollar"></span>
                        <span class="tile-label">Invoices</span>
                    </div>
                </div>
            }
            <a href="~/Product/FavoriteList" class="fg-white">
                <div class="tile-large bg-red fg-white">
                    <div class="tile-content iconic">
                        <span class="icon-large fa fa-heart"></span>
                        <span class="tile-label">Favorites</span>
                    </div>
                </div>
            </a> 
            <a href="/Bug/" class="fg-white">
                <div class="tile bg-yellow fg-white">
                    <div class="tile-content iconic">
                            <span class="icon fa fa-bug"></span>
                            <span class="tile-label">Bug Report</span>
                    </div>
                </div>
            </a>
            <a href="/Resource/MobileApps/" class="fg-white">
                <div class="tile bg-magenta fg-white">
                    <div class="tile-content iconic">
                            <span class="icon fa fa-mobile"></span>
                            <span class="tile-label">Mobile Apps</span>
                    </div>
                </div>
            </a>
            <div class="tile-wide bg-violet fg-white">
                @if (User.IsInRole("Internal") || User.IsInRole("RepGroup"))
                {
                    <div class="tile-content iconic slide-up-2">
                        <div class="slide">
                        <span class="icon fa fa-user-secret"></span>
                        </div>
                        <div class="slide-over text-small padding10"> 
                            @{Html.RenderAction("ImpersonateTile", "Account");}
                        </div>
                        <span class="tile-label">Impersonate</span>
                    </div>
                }
                else
                {
                    <div class="tile-content iconic slide-up-2">
                        <div class="slide">
                        <span class="icon fa fa-smile-o"></span>
                        </div>
                        <div class="slide-over text-small padding10"> 
                        </div>
                        <span class="tile-label">Account Manager</span>
                    </div>
                }
            </div>
        </div>
    }
    else
    {
        <h1>Hi!</h1>
        <h3>Please use the "Impersonate" tool below to tell us what customer you would like to see.</h3>
        <div class="tile-group no-margin no-padding" style="width: 100%">
            <div class="tile-wide bg-violet fg-white">
                <div class="tile-content iconic slide-up-2">
                    <div class="slide">
                    <span class="icon fa fa-user-secret"></span>
                    </div>
                    <div class="slide-over text-small padding10"> 
                        @{Html.RenderAction("ImpersonateTile", "Account");}
                    </div>
                    <span class="tile-label">Impersonate</span>
                </div>
            </div>
            <a href="/Bug/" class="fg-white">
                <div class="tile bg-yellow fg-white">
                    <div class="tile-content iconic">
                            <span class="icon fa fa-bug"></span>
                            <span class="tile-label">Bug Report</span>
                    </div>
                </div>
            </a>
            <a href="/Resource/MobileApps/" class="fg-white">
                <div class="tile bg-magenta fg-white">
                    <div class="tile-content iconic">
                            <span class="icon fa fa-mobile"></span>
                            <span class="tile-label">Mobile Apps</span>
                    </div>
                </div>
            </a>
            <a href="/Resource/Downloads/" class="fg-white">
                <div class="tile bg-emerald fg-white">
                    <div class="tile-content iconic">
                            <span class="icon fa fa-download"></span>
                            <span class="tile-label">Downloads</span>
                    </div>
                </div>
            </a>
            <a href="~/Account/History" class="fg-white">
                <div class="tile bg-magenta fg-white">
                    <div class="tile-content iconic">
                            <span class="icon fa fa-history"></span>
                            <span class="tile-label">History</span>
                    </div>
                </div>
            </a>
            <a href="~/Account/Manage" class="fg-white">
                <div class="tile bg-lightBlue fg-white">
                    <div class="tile-content iconic">
                            <span class="icon fa fa-user"></span>
                            <span class="tile-label">Profile</span>
                    </div>
                </div>
            </a>  
        </div>
    }
    </div>
</div>
<!-- End of tiles -->
