﻿@{
    ViewBag.Title = "Page Not Found";
}

<h1>Page Not Found!</h1>
<h4>The page you have requested does not exist.</h4>
<h3 class="fg-emerald">If you are using a bookmark to get to this site, you may have a link to a page that no longer exists. Please update your bookmark to the following link to prevent this error.
</h4>
<h4><a href="https://customer.westchestergear.com">https://customer.westchestergear.com</a></h4>

<h4>Thanks!</h4>

@section Scripts
{
}