﻿@model CustomerPortal.Models.CheckoutStep1

<div>
    @using (Html.BeginForm("CheckoutStep1", "ShoppingCart", FormMethod.Post, new { id = "step1Form" }))
    {
        @Html.AntiForgeryToken()
        <h1 class="page-title text-light">
            Checkout</h1>
        <hr class="thin" />
        <br />
        if (ViewData.ModelState.Any())
        {
        @Html.ValidationSummary(true)
        <br />
        }
        <div class="input-control text" data-role="input">
            @Html.LabelFor(m => m.CompanyName)
            @Html.TextBoxFor(m => m.CompanyName)
        </div>
        <br />
        <br />
        <div class="input-control text" data-role="input">
            @Html.LabelFor(m => m.Attention)
            @Html.TextBoxFor(m => m.Attention)
        </div>
        <br />
        <br />
        <div class="input-control text" data-role="input">
            @Html.LabelFor(m => m.PONumber)
            @Html.TextBoxFor(m => m.PONumber)
        </div>
        <br />
        <br />
        <div class="input-control text" data-role="input">
            @Html.LabelFor(m => m.CustomerPONumber)
            @Html.TextBoxFor(m => m.CustomerPONumber)
        </div>
        <br />
        <br />
        <div class="input-control text" data-role="input">
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email)
        </div>
        <br />
        <br />
        <div class="input-control text" data-role="input">
            @Html.LabelFor(m => m.PhoneNumber)
            @Html.TextBoxFor(m => m.PhoneNumber)
        </div>
        <br />
        <br />
        <div class="input-control select">
            <select name="PaymentTerms" id="PaymentTerms">
                <option selected="selected">ADD</option>
                <option>COL</option>
                <option>3RD</option>
            </select>
        </div>
        <fieldset id="AccountNumberDiv" style="margin-left: -5px; padding: 0 8px 0 3px; margin-right:-10px">
            <br />
            <br />
            <div class="input-control text" data-role="input">
                @Html.LabelFor(m => m.Carrier)
                @Html.TextBoxFor(m => m.Carrier)
            </div>
            <br />
            <br />
            <div class="input-control text" data-role="input">
                @Html.LabelFor(m => m.AccountNumber)
                @Html.TextBoxFor(m => m.AccountNumber)
            </div>
            <br />
        </fieldset>
        <br />
        <br />
        <div class="input-control text" data-role="input">
            @Html.LabelFor(m => m.ShippingInstructions)
            @Html.TextBoxFor(m => m.ShippingInstructions)
        </div>
    }

</div>