﻿@model CustomerPortal.Models.CheckoutModel
@{
    ViewBag.Title = "Checkout";
}

<div id="checkoutWizard" class="wizard">
    <div class="steps">
        <div class="step" id="step1">
            @{Html.RenderAction("CheckoutStep1");}
        </div>
        <div class="step" id="step2">
            <div id="step2content">
                @{Html.RenderPartial("CheckoutStep2");}
            </div>
            <div id="addressBook">
                <h4 class="fg-emerald">
                    Please select the address to which you would like your items shipped from your address book. If you cannot find your desired address in the list,
                    <a href="#" onclick="toggleOneTime()">click here</a>
                    to enter a one-time shipping address.
                </h4>
                @{Html.RenderPartial("ShipToControl");}
            </div>
        </div>
        <div class="step" id="step3">
            @{Html.RenderPartial("ConfirmCheckout");}
        </div>
    </div>
</div>
        <br />
        <br />
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    
    <link href="@Url.Content("~/Scripts/__jquery.tablesorter/themes/custom/style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Scripts/__jquery.tablesorter/addons/pager/jquery.tablesorter.pager.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/metro-ani-icons.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../../Scripts/__jquery.tablesorter/jquery.tablesorter.js?1"></script>
    <script type="text/javascript" src="../../Scripts/__jquery.tablesorter/addons/pager/jquery.tablesorter.pager.js?1"></script>
    <script type="text/javascript" src="../../Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript" src="../../Scripts/jquery.form.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#State option:not(:selected)').attr('disabled', true);
            $('#checkoutWizard').wizard({
                buttons: { //show or hide buttons
                    cancel: true,
                    help: false,
                    prior: true,
                    next: true,
                    finish: true
                },
                onFinish: function (page, wiz) {
                    var dialog = $('#placeOrderMessage').data('dialog');
                    dialog.open();
                    $('.modalDialog').show();
                    document.forms["step3Form"].submit();
                },
                onCancel: function () {
                    window.location.replace('/ShoppingCart');
                },
                onNext: function (page, wiz) {
                    switch (page) {
                        case 1:
                            $.ajax({
                                url: "/ShoppingCart/CheckForExistingPO",
                                type: "POST",
                                data: {
                                    'po': 'test'
                                },
                                dataType: "json",
                                success: function (data) {
                                    if (data.success == true) {
                                        var dialog = $('#dialog').data('dialog');
                                        dialog.open();
                                    } else {
                                        $('#step1Form').ajaxSubmit({
                                            beforeSubmit: function () { },
                                            success: function (result) {
                                                if (result.success) {
                                                    $('#checkoutWizard').wizard('next');
                                                }
                                                else {
                                                    $("#step1").html(result).show();
                                                }
                                            }
                                        });
                                    }
                                },
                                error: function () {
                                    alert("An error has occured!!!");
                                }
                            });
                            break;
                        case 2:
                            $('#step2Form').ajaxSubmit({
                                beforeSubmit: function () { },
                                success: function (result) {
                                    if (result.success) {
                                        $('#checkoutWizard').wizard('next');
                                        $("#step3").html(result.view).show();
                                    }
                                    else {
                                        $("#step2content").html(result).show();
                                        $("#checkoutForm").show();
                                    }
                                }
                            });
                            break;
                    }
                }
            });

            $("#AccountNumberDiv").hide();

            $("#PaymentTerms").change(function () {
                if ($("#PaymentTerms").val() == "COL" || $("#Terms").val() == "3RD") {
                    $("#AccountNumberDiv").show();
                    $("#Carrier").attr('required');
                }
                else {
                    $("#AccountNumberDiv").hide();
                    $("#Carrier").attr('data-val', false);
                }
            });

            $(".shipToSearch").ajaxForm({
                target: '#shipToContainer',
                beforeSubmit: function () { $.blockUI({ message: 'Searching Ship Tos' }); },
                success: function (result) {
                    $("#shipToContainer").html(result).show();
                    $("#shipToList")
                    .tablesorter({
                        widthFixed: true,
                        headers: { 0: { sorter: false} },
                        sortList: [[4, 0], [2, 0], [1, 0]]
                    })
                    .tablesorterPager({ container: $("#pager"), positionFixed: false, size: 5 });
                    $.unblockUI();
                }
            });
        });

        function SetSearchResult(id, street, city, state, zip, name) {
            $('#State option:not(:selected)').attr('disabled', false);
            $("#ShipToID").val(id);
            $("#Street").val(street);
            $("#City").val(city);
            $("#State").val(state);
            $("#Zip").val(zip);
            $("#Name").val(name);
            $('option:not(:selected)').attr('disabled', true);
        }

        function toggleOneTime() {
            $('#checkoutForm').toggle();
            $('#addressBook').toggle();
            $("#ShipToID").val("1TIME");
            $('option:not(:selected)').attr('disabled', false);
            $('input[type=text]').removeAttr('readonly');
            $('input[type=text]').val('');
        }

        function hideDialog(id) {
            var dialog = $(id).data('dialog');
            dialog.close();
        }

        function proceedOrder() {
            var dialog = $('#dialog').data('dialog');
            dialog.close();
            $('#checkoutWizard').wizard('next');
        }
        function ChangeNotificatnEmailVisible(ele) {
            //alert("Changed");
            if (ele.checked) {
                $(".NotificationShow").each(function () {
                    $(this).show();
                });
            } else {
                $(".NotificationShow").each(function () {
                    $(this).val("");
                    $(this).hide();
                });
            }
        }
</script>
}

<div id="dialog" class="padding20 dialog" data-role="dialog" data-width="500" 
    data-background="bg-red" data-color="fg-white" >
    <div>
        <h3>PO already exists</h3>
        <p>The PO number you have entered already exists. Do you still want to proceed with the order?</p>
        <button class="button" onclick="proceedOrder()" style="float:right">Proceed</button>
        <button class="button" onclick="hideDialog('#dialog')" style="float:left">Cancel</button>
    </div>
</div>