﻿@{
    ViewBag.Title = "ImportShoppingList";
}

@section Scripts{
}

<h2>Import Shopping List</h2>

<h4>Do you have a list of items you would like to add to your cart? Simply <a href="~/Files/WCPG_Shopping_List.xlsx">download the template file</a>, fill in what WCPG items you would like, with quantites and upload it here.</h4>

<form action="ImportShoppingList" method="post" enctype="multipart/form-data">
    <fieldset>
        <legend>Select a File to Upload</legend>
        <input type="file" name="file" id="file" />
        <br />
        <input type="submit" value="Upload List"/>
    </fieldset>
</form>