﻿@model CustomerPortal.Models.ShoppingCart
@using MvcContrib.UI.Grid
@section Scripts
{
    <link href="@Url.Content("~/Scripts/__jquery.tablesorter/themes/custom/style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Scripts/__jquery.tablesorter/addons/pager/jquery.tablesorter.pager.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../../Scripts/__jquery.tablesorter/jquery.tablesorter.js?1"></script>
    <script type="text/javascript" src="../../Scripts/__jquery.tablesorter/addons/pager/jquery.tablesorter.pager.js?1"></script>
    <script type="text/javascript">
        noStock = [];
        processing = [];
        processed = 0;
        checkingOut = false;

        @foreach (var line in Model.LineItems)
        {
            @:processing.push('@line.Product.SKU');
        }

        $(document).ready(function () {
            $("#cart")
            .tablesorter({ widthFixed: true, headers: { 1: { sorter: false}, 3: { sorter: false}, 5: { sorter: false}} })
        });

        function showDialog(id) {
            checkingOut = true;
            if (processed < @Model.LineItems.Count)
            {
                $('#processingMessage').html(processing.join('<br />'));
                var dialog = $('#stockDialog').data('dialog');
                dialog.open();
            }
            else {
                showOutOfStock();
            }
        }

        function showOutOfStock() {
            hideDialog('#stockDialog');
            if (noStock.length > 0) {
                $('#noStockMessage').html(noStock.join(', '));
                var dialog = $('#dialog').data('dialog');
                dialog.open();
            }
            else {
                proceedOrder();
            }
        }

        function hideDialog(id) {
            var dialog = $(id).data('dialog');
            dialog.close();
        }

        function proceedOrder() {
            document.forms["proceedCheckout"].submit();
        }

        function sleep(milliseconds) {
            var start = new Date().getTime();
            for (var i = 0; i < 1e7; i++) {
                if ((new Date().getTime() - start) > milliseconds){
                    break;
                }
            }
        }
    </script>
}

<div id="dialog" class="padding20 dialog" data-role="dialog" data-width="500" 
    data-background="bg-red" data-color="fg-white" >
    <div>
        <h3>Some items in your cart are currently unavailable</h3>
        <p>The following items:</p>
        <p id="noStockMessage"></p>
        <p>will be placed onto backorder.</p>
        <button class="button" onclick="proceedOrder()" style="float:right">Proceed</button>
        <button class="button" onclick="hideDialog('#dialog')" style="float:left">Back to Cart</button>
    </div>
</div>

<div id="stockDialog" class="padding20 dialog" data-role="dialog" data-width="500" 
    data-background="bg-white" data-color="fg-black" style="border:1px solid #000000">
    <div>
        <h3>We are still calculating stock availability for these items:</h3>
        <p id="processingMessage"></p>
        <button class="button" onclick="proceedOrder()" style="float:right">Skip</button>
    </div>
</div>
<h2>
    Your Cart</h2>
@{
    var colors = new List<string>() { "yellow", "light-blue", "red", "green" };

    if (Model != null && Model.LineItems.Count > 0)
    {
        Html.Grid(Model.LineItems)
            .Attributes(@id => "cart", @class => "tablesorter", style => "width:100%")
            .RowAttributes(row => new MvcContrib.Hash(@class => colors[Model.LineItems.ToList().IndexOf(row.Item) % 4]))
            .Columns(
                col =>
                {
                    col.For(x => Html.Partial("ProductPhotoLink", x.Product)).Named("SKU");
                    col.For(x => Html.Partial("_InStockPartial", x)).Named("In Stock");
                    col.For(x => x.Sample ? "Sample" : Html.Partial("_PriceDisplay", x.Product).ToString()).Encode(false).Named("Price");
                    col.For(x => x.Sample ? Html.Label("") : Html.Partial("UpdateLineItemPartial", new CustomerPortal.Models.AddToCartModel()
                    {
                        Quantity = x.Quantity,
                        SKU = x.SKU
                    }));
                    col.For(x => x.Sample ? "Sample" : string.Format("{0:c}", x.TotalPrice)).Attributes(@class => "bold-column").Named("Total Price");
                    col.For(x => Html.Partial("RemoveLineItemPartial", x.Product)).Attributes(@class => "right-column");
                }).Render();
        
        <div style="width: 100%; border-bottom: 8px solid #444">
        </div>
        <br />
        <div style="float:right">
            <b>Cart Total: @string.Format("{0:c}", Model.Total)</b>
            <form id="proceedCheckout" action="ShoppingCart/Checkout">
                <button id="checkoutButton" type="button" class="button" onclick="showDialog('#dialog')">Checkout</button>
            </form>
        </div>
        @Html.ActionLink("Clear Cart", "ClearCart")
        <br />
        <br />
        <br />
    }
    else
    {
        <br class="clear" />
        <h4 class="emptyMessage">There are no items in your shopping cart.</h4>
    }
    
    if (Roles.IsUserInRole("Administrator"))
    {
        using (Html.BeginForm("CheckoutList", "ShoppingCart"))
        {
            <div class="input-control input-control text" style="width: 10px">
                <button class="button">
                    View Failed Carts
                </button>
            </div>
        }
    }
}
