﻿@model IEnumerable<CustomerPortalModels.Bug>
@using MvcContrib.UI.Grid
@{
    var colors = new List<string>() { "yellow", "light-blue", "red", "green" };
    
    if (Model != null && Model.Count() > 0)
    {
        Html.Grid(Model)
            .Attributes(@id => "bugList", @class => "tablesorter", style => "width:100%")
            .RowAttributes(row => new MvcContrib.Hash(data => @Html.Raw(Json.Encode(row.Item)), @class => "clickableRow " + colors[Model.ToList().IndexOf(row.Item) % 4]))
            .Columns(
                col =>
                {
                    col.For(x => Html.ActionLink(x.Title, "Discussion", new { bugID = x.ID })).Named("Title");
                    col.For(x => x.UserName);
                    col.For(x => x.Comments.Count()).Named("Comments");
                    col.For(x => x.Date);
                }).Render();
    }
    if (Model != null && Model.Count() > 10)
    {
        Html.RenderPartial("PagerControl");
    }
}

<script type="text/javascript">
    $(function () {
        $(".clickableRow").click(function () {
            var data = JSON.parse($(this).attr("data"));
            window.location.href = '/Bug/Discussion?bugID=' + data.ID;
        });
    });
</script>