﻿@model IList<CustomerPortalModels.Product>
@using MvcContrib.UI.Grid
@{
    ViewBag.Title = "Favorites";
}
@section Scripts
{
    <link href="@Url.Content("~/Scripts/__jquery.tablesorter/themes/custom/style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Scripts/__jquery.tablesorter/addons/pager/jquery.tablesorter.pager.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../../Scripts/__jquery.tablesorter/jquery.tablesorter.js?1"></script>
    <script type="text/javascript" src="../../Scripts/__jquery.tablesorter/addons/pager/jquery.tablesorter.pager.js?1"></script>
    <script type="text/javascript" src="../../Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript" src="../../Scripts/jquery.form.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#productList")
            .tablesorter({ widthFixed: true, headers: { 4: { sorter: false}} })
            .tablesorterPager({ container: $("#pager"), positionFixed: false });
        });

        $(function () {
            $(".addToCart").ajaxForm({
                target: '#shopTop',
                beforeSubmit: function () { },
                success: function (responseText, statusText, xhr, $form) {
                    $("#shopTop").html(responseText);
                }
            });
        });
    </script>
}

<h2 style="float:left">Your Favorites</h2>


@using MvcContrib.UI.Grid
@{
    if (Model.Count() > 0)
    {
        Html.RenderPartial("ProductSearch", new CustomerPortal.Models.ProductAdvancedSearchModel());
        var colors = new List<string>() { "yellow", "light-blue", "red", "green" };

        if (Model != null && Model.Count() > 0)
        {
            Html.Grid(Model)
                .Attributes(@id => "productList", @class => "tablesorter", style => "width:100%")
                .RowAttributes(row => new MvcContrib.Hash(@class => colors[Model.IndexOf(row.Item) % 4]))
                .Columns(
                    col =>
                    {
                        col.For(x => Html.Partial("ProductPhotoLink", x)).Named("SKU");
                        col.For(x => x.CustomerSKU).Named("Customer SKU");
                        col.For(x => x.Description.Length <= 100 ? x.Description : x.Description.Substring(0, 100) + "...").Named("Description");
                        col.For(x => x.Price).Format("{0:c}");
                        col.For(x => Html.Partial("AddToCartPartial", new CustomerPortal.Models.AddToCartModel()
                        {
                            Quantity = 1,
                            SKU = x.SKU
                        })).Attributes(@class => "right-column");
                    }).Render();
        }
        if (Model != null && Model.Count() > 10)
        {
            Html.RenderPartial("PagerControl");
        }
    }
    else
    {
        <br style="clear:both" />
        <h4>It looks like you haven't added any favorites yet. Simply press the heart button when viewing an item to save it in your favorites.</h4>
    }
}
<br style="clear:both" />
<br style="clear:both" />
