﻿@model IEnumerable<CustomerPortalModels.Product>
@using MvcContrib.UI.Grid
@{
    var colors = new List<string>() { "yellow", "light-blue", "red", "green" };
    
    if (Model != null && Model.Count() > 0)
    {
        Html.Grid(Model)
            .Attributes(@id => "productList", @class => "tablesorter tile-table", style => "width:100%")
            .RowAttributes(row => new MvcContrib.Hash(@class => colors[Model.ToList().IndexOf(row.Item) % 4]))
            .Columns(
                col =>
                {
                    col.For(x => Html.Partial("ProductPhotoLink", x)).Named("SKU");
                    if (Roles.IsUserInRole("ViewPricing"))
                    {
                        col.For(x => x.Price).Format("{0:c}");
                    }
                    if (Roles.IsUserInRole("PlaceOrders"))
                    {
                        col.For(x => Html.Partial("AddToCartPartial", new CustomerPortal.Models.AddToCartModel()
                        {
                            Quantity = 1,
                            SKU = x.SKU
                        })).Attributes(@class => "right-column");
                    }
                }).Render();
    }
    else
    {
        <div>
        You haven't added any favorites yet! Look at our products to add your favorites.</div>
    }
}
