﻿@model CustomerPortal.Models.ProductAdvancedSearchModel

@using (Html.BeginForm("Index", "Product", FormMethod.Post, new { id = "basicSearch", @class = "searchProducts search" }))
{
    Html.RenderPartial("Search");
}

@using (Html.BeginForm("AdvancedSearch", "Product", FormMethod.Post, new { @class = "searchProducts search" }))
{
    <fieldset id="advancedSearch">
    <legend>Advanced Search</legend>
        <br />
        <div class="input-control text full-size" data-role="input">
            @Html.LabelFor(x => x.SKU)
            @Html.TextBoxFor(x => x.SKU)
        </div>
        <br />
        <br />
        <div class="input-control text full-size" data-role="input">
            @Html.LabelFor(x => x.CustomerSKU)
            @Html.TextBoxFor(x => x.CustomerSKU)
        </div>
        <br />
        <br />
        <div class="input-control text full-size" data-role="input">
            @Html.LabelFor(x => x.Description)
            @Html.TextBoxFor(x => x.Description)
        </div>
        <br />
        <br />
        <div class="input-control text" data-role="input">
            @Html.Label("Price")
            <input type="text" name="PriceLow" placeholder="Minimum Price" style="margin-bottom: 10px"/>
            <input type="text" name="PriceHigh" placeholder="Maximum Price" />
        </div>
        <br />
        <br />
        <br />
        <br />
                <button type="submit" class="button primary" style="float:right">Search</button>
                <button type="button" class="button bg-red fg-white" style="float:left" onclick="toggleAdvancedSearch()">Back</button>
    </fieldset>
}