﻿@model CustomerPortal.Models.ProductViewModel
@{
    ViewBag.Title = "View Product";
}
@section Scripts{
    <link href="@Url.Content("~/Scripts/__jquery.tablesorter/themes/custom/style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Scripts/__jquery.tablesorter/addons/pager/jquery.tablesorter.pager.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../../Scripts/__jquery.tablesorter/jquery.tablesorter.js?1"></script>
    <script type="text/javascript" src="../../Scripts/__jquery.tablesorter/addons/pager/jquery.tablesorter.pager.js?1"></script>
    <script type="text/javascript" src="../../Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript" src="../../Scripts/jquery.form.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#addSample").ajaxForm({
                target: '#shopTop',
                beforeSubmit: function () { },
                success: function (result) {
                    $("#shopTop").html(result.view).show();

                    $.Notify({
                        icon: '<span class="fa fa-cube"></span>',
                        caption: result.message.Title,
                        content: result.message.Content,
                        type: result.message.Type.toLowerCase()
                    });
                }
            });
            $("#favorite").ajaxForm({
                beforeSubmit: function () { },
                success: function (result) {
                    $.Notify({
                        icon: '<span class="fa fa-heart"></span>',
                        caption: result.message.Title,
                        content: result.message.Content,
                        style: { background: '#D34941', color: '#FFF' }
                    });

                    $('#fav-button').removeClass();
                    if (result.message.Content.indexOf("removed") > -1) {
                        $('#fav-button').addClass("fa fa-heart-o fg-black");
                    }
                    else {
                        $('#fav-button').addClass("fa fa-heart fg-red");
                    }
                }
            });
        });
    </script>
}
<h2>@Model.Product.SKU</h2>
<div class="grid">
    <div class="row cells2">
        <div class="cell">
            <image src='http://www.westchestergear.com/wp-content/uploads/ProductImages/@(Model.Product.BasePartNumber.Replace("/", "~") + ".png")' height='100%' width='100%' />
        </div>
        <div class="cell">
            <h4>@Model.Product.Description</h4>
            @Html.Partial("_PriceDisplay", Model.Product)
            <br />
            <br />
            <div style="float: left">
                @if (User.IsInRole("PlaceOrders"))
                {
                    @Html.Partial("AddToCartPartial", new CustomerPortal.Models.AddToCartModel()
                    {
                        Quantity = 1,
                        SKU = Model.Product.SKU
                    })
                }
            </div>
            @using (Html.BeginForm("AddSampleToCart", "ShoppingCart", new { sku = Model.Product.SKU }, FormMethod.Post, new { id = "addSample", style = "float:left; margin: 3px 3px 3px 6px" }))
            {
                if (User.IsInRole("RequestSamples"))
                {
                <button class="button" data-toggle="tooltip" title="Request Sample">
                    <span class="fa fa-cube fg-black"></span>
                </button>
                }
            }
            @{var pdf = "http://www.westchestergear.com/sites/default/files/data_sheets/" + Model.Product.BasePartNumber + ".pdf";}
            <form action="@pdf">
            <button class="button" data-toggle="tooltip" title="View Spec Sheet" style="float: left;
                margin: 6px 3px 3px">
                <span class="fa fa-file-pdf-o fg-black"></span>
            </button>
            </form>
            @using (Html.BeginForm("ToggleFavorite", "Product", new { sku = Model.Product.SKU }, FormMethod.Post, new { id = "favorite", style = "float:left; margin: 3px" }))
            {
                if (Model.IsFavorite)
                {
                <button class="button">
                    <span id="fav-button" class="fa fa-heart fg-red"></span>
                </button>
                }
                else
                {
                <button class="button">
                    <span id="fav-button" class="fa fa-heart-o fg-black"></span>
                </button>
                }
            }
            <br />
            <br />
            <br />
            @if (Model.RelatedProducts.Count > 0)
            {
                <p>
                    Other Sizes:</p>
                <div class="tile-area no-padding">
                    <div class="tile-group no-margin no-padding">
                        @foreach (var relProd in Model.RelatedProducts)
                        {
                            <a href="~/Product/ViewProduct?sku=@relProd.SKU" class="fg-white">
                                <div class="tile-small bg-blue fg-white" data-role="tile" style="display: flex; justify-content: center;
                                    align-items: center;">
                                    <div class="tile-content iconic">
                                        <span class="tile-label">@relProd.Size</span>
                                    </div>
                                </div>
                            </a>  
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>
