﻿@model CustomerPortal.Models.CrossReferenceToolModel
@{
    ViewBag.Title = "Competitor Cross Reference";
}
@section Scripts
{
    <link href="@Url.Content("~/Scripts/__jquery.tablesorter/themes/custom/style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Scripts/__jquery.tablesorter/addons/pager/jquery.tablesorter.pager.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../../Scripts/__jquery.tablesorter/jquery.tablesorter.js?1"></script>
    <script type="text/javascript" src="../../Scripts/__jquery.tablesorter/addons/pager/jquery.tablesorter.pager.js?1"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#xRefList")
            .tablesorter({ widthFixed: true, headers: { 3: { sorter: false}} })
            .tablesorterPager({ container: $("#pager"), positionFixed: false });
        });
    </script>
}

<h2>Competitor Cross Reference</h2>

@using (Html.BeginForm("CrossReferenceSearch", "Resource", new CustomerPortal.Models.CrossReferenceSearchModel()))
{
    <input type="text" name="CrossReferenceNumber" />
    @Html.DropDownList("Company", Model.Companies.Select(x => 
        new SelectListItem()
        {
            Text = x,
            Value = x
        }));
    <button type="submit" class="button primary">Search</button>
}

@{
    Html.RenderPartial("CrossReferenceList", Model.CrossReferences);
}