﻿
@using (Html.BeginForm("FileSearchResults", "Resource", FormMethod.Post, new{@id = "fileSearchForm"}))
{
    <div id="resourceSearchButton">
        <img src="../../Images/search.png" height="18px" width="18px" alt=""/>
    </div>
    @Html.TextBox("searchString")
@*    @Html.SubmitButton("btnSearchFiles", " ", new{style = "display: none"})*@
}