﻿@model DirectoryInfo

@section Scripts
{
}
    <link href="@Url.Content("~/Content/themes/base/all.css")" rel="stylesheet" type="text/css" />
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js" type="text/javascript"></script>
<script type="text/javascript" src="~/Scripts/jquery.form.js"></script>

<script src="http://code.jquery.com/jquery-migrate-1.0.0.js"></script>
<script type="text/javascript">

    $(function () {
        $("#file_view").resizable({ handles: 'w', maxWidth: 800, minWidth: 400, alsoResize: "#file_view_header",
            resize: function (event, ui) {
                var width = $(this).width();
                var totalWidth = 1118;
                $("#folder_tree").css("width", totalWidth - width);
                $("#file_view").css("height", 353);
                $(this).css("left", 0);
            }
        });
    });
    function updateBreadCrumb(path) {
        $.ajax({
            type: "POST",
            url: '@Url.Content("~/Resource/BreadCrumb")',
            data: { info: path },
            success: function (result) {
                $("#breadcrumb").html(result);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
            }
        });
    }

    function getFiles(path) {
        $.ajax({
            type: "POST",
            url: '@Url.Content("~/Resource/FileList")',
            data: { info: path },
            success: function (result) {
                $("#file_list").html(result);
                updateBreadCrumb(path);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
            }
        });
    }

    function searchFiles() {
        $.ajax({
            type: "POST",
            url: '@Url.Content("~/Resource/FileSearchResults")',
            data: { searchString: $("#searchString").val() },
            success: function (result) {
                $("#file_list").html(result);
                updateBreadCrumb(path);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
            }
        });
    }

    $(document).ready(function () {
        $("#fileSearchForm").submit(function () {
            searchFiles();
            return false;
        });

        $("#resourceSearchButton").click(function () {
            searchFiles();
        });

        $(".folder_item").children("ul").hide();

        $(".folder_item").each(function () {
            if ($(this).children("ul.folder_list").size() > 0)
                $(this).children("ins").addClass("closed_folder");
        });

        $(".folder_item ins").click(function (event) {
            // this.append wouldn't work
            var button = $(this);
            var folder = button.parent();

            if (folder.children("ul.folder_list").size() > 0) {
                folder.children("ul.folder_list").toggle();
                button.toggleClass("closed_folder");
                button.toggleClass("open_folder");
            }
        });

    });
</script>


    <h1>Downloadable Resources</h1>
    
@*    <div id="resource_header">
        <div id="breadcrumb">Resources</div>
        <div id="resourceSearch">@{Html.RenderPartial("DownloadSearch");}</div>
    </div>*@
    <div id="folder_tree">
        @{Html.RenderAction("FolderList", new { directory = Model });}
    </div>
    <div id="file_view">
    <div id="file_list"></div>
    </div>