﻿@model DirectoryInfo

<ul>
@{
    foreach (DirectoryInfo di in Model.GetDirectories())
    {
        string directoryName = di.FullName.Replace("\\", "\\\\");
        <li class="folder_item"><ins></ins><a href="javascript:void(0)" class="test" onclick="getFiles('@directoryName');">
            @di.Name.Replace("~", "/")
            (@di.GetFiles().Count())</a>
        </li>
    }
    
    System.IO.FileAttributes attributes;
    foreach (System.IO.FileInfo file in Model.GetFiles())
    {
        attributes = System.IO.File.GetAttributes(file.FullName);
        if ((attributes & System.IO.FileAttributes.Hidden) != System.IO.FileAttributes.Hidden)
        {
            <li class="file_item">
                <img src="@Url.Action("DownloadLink", new { info = file.FullName })" alt="" height="18" width="18" />
                @Html.ActionLink(file.Name, "ServeFile", new { filePath = file.FullName })
            </li>
        } 
    }
}
</ul>