﻿@model List<FileInfo>

<ul>
@{
    FileAttributes attributes;
    foreach (FileInfo file in Model)
    {
        attributes = File.GetAttributes(file.FullName);
        if ((attributes & System.IO.FileAttributes.Hidden) != System.IO.FileAttributes.Hidden)
        {
            <li class="file_item">
                <img src="@Url.Action("DownloadLink", new { info = file.FullName })" alt="" height="18" width="18" />
                @{Html.ActionLink(file.Name, "ServeFile", new { filePath = file.FullName });}
            </li>
        }
    }
}
</ul>