﻿@model System.IO.DirectoryInfo

@{
    string directoryName = Model.FullName.Replace("\\", "\\\\");
    <ins></ins><a href="javascript:void(0)" class="test" onclick="getFiles('@directoryName');">@Model.Name.Replace("~", "/")</a>
}
    
