﻿@model System.IO.DirectoryInfo

@if (Model.GetDirectories().Count() > 0)
{
    <ul class="folder_list">
        @foreach (System.IO.DirectoryInfo di in Model.GetDirectories())
        {
            <li class="folder_item">
                @{
                    Html.RenderAction("FolderLink", new { directory = di });
                    Html.RenderAction("FolderList", new { directory = di });
                }
            </li>
        }
    </ul>
}